.preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 51;
  transition: 1s;

  &__content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
}

.main{
  margin-top: 80px;
}

.intro{
  display: none;
  background: url('./files/imgs/main-pic.jpg');
  background-size: cover;
  width: 100%;
  height: 0;
  padding-top: 49%; /* 150/350 */
  position: relative;

  &-option{
    position: absolute;
    background-color: rgba(#2a3180, .45);
    padding: 12px 20px;
    transition: 0.5s;

    &:hover{

      background-color: rgba(#2a3180, 1);

      .intro-option__text{
        color: white;
      }
    }

    &::after{
      display: block;
      content: "";
      width: 40px;
      height: 2px;
      background-color: rgba(255,255,255,.5);
      position: absolute;
    }

    &.io1{
      right: 54%;
      bottom: 56%;

      &::after{
        transform: rotate(45deg);
        right: -34px;
        top: 37px;
      }

      .intro-option__circle{
        right: -41px;
        bottom: -21px;
      }
    }

    &.io2{

      bottom: 29%;
      right: 63%;

      &::after{
        transform: rotate(-45deg);
        right: -34px;
        top: 9px;
      }

      .intro-option__circle{
        right: -40px;
        bottom: 47px;
      }
    }

    &.io3{

      bottom: 52%;
      left: 68%;

      &::after{
        transform: rotate(-45deg);
        top: 33px;
        left: -34px;
      }

      .intro-option__circle{
        bottom: -17px;
        left: -40px;
      }

      .intro-option__text{
        &::before{
          border-left: none;
          border-right: 3px solid rgba(255,255,255,.8);
          transform: translate3d(-17px, -9px, 0);
        }
      }
    }

    &__text{
      font-family: 'Open Sans', sans-serif;
      color: white;
      font-size: 16px;

      /*&:hover{
        color: white;
      }*/


      &::before{
        display: block;
        content: "";
        border-bottom: 3px solid rgba(255,255,255,.8);
        border-left: 3px solid rgba(255,255,255,.8);
        padding: 12px 20px;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translate3d(-23px, -9px, 0);
      }
    }

    &__circle{
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: absolute;

      &::before{
        content: '';
        transition: .5s ease;
        position: absolute;
        display: block;
        width: 16px;
        height: 16px;
        background: rgba(#2a3180, .75);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::after{
        width: 16px;
        left: 0;
        top: 0;
        z-index: 2;
        height: 16px;
        content: '';
        position: absolute;
        display: block;
        opacity: 1;
        animation: circleAnimate 1.5s ease infinite forwards;
        border-radius: 50%;
        border: 2px solid transparent;
      }
    }
  }

}

.repairs{

  .def-btn{
    max-width: 460px;
  }

  &-slider{

    margin-bottom: 80px!important;

    &::before{
      display: block;
      content: "";
      border-bottom: 12px solid rgba(#aaadcc, 0.8);
      border-left: 12px solid rgba(#aaadcc, 0.8);
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translate3d(-11px, 11px, 0);
    }

    .slick-prev, .slick-next{
      width: 54px;
      height: 54px;
      background: url('./files/imgs/arrow.svg');
      background-size: cover;
      left: 10px;
      z-index: 1;
      opacity: .75;
      transition: .5s;

      &:hover{
        opacity: 1;
      }

      &::before{
        display: none;
      }
    }

    .slick-prev{
      transform: scaleX(-1) translateY(-50%);
    }

    .slick-next{
      right: 10px;
      left: auto;
    }

    .slick-dots{

      bottom: -45px;

      li{
        margin: 0;
        width: 19px;

        button{

          &::before{
            font-size: 47px;
            opacity: 1;
            color: $def-color;
            line-height: 18px;
          }
        }

        &.slick-active{
          width: 18px;
          height: 18px;
          //background-color: $def-color;
          border-radius: 50%;

          margin-top: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
          top: 2px;
          background-color: #ffffff;
          border: 2px solid #2a3180;

          button{
            &::before{
              //color: white;
              //font-size: 52px;
              display: none;
            }
          }
        }
      }
    }

  }
}

.advantages{

  &-item{

    position: relative;

    img{
      width: 55px;
      height: 55px;
      position: absolute;
    }

    &__line-vert{
      position: absolute;
      width: 1px;
      height: 100%;
      left: 28px;
      display: block;
      z-index: -2;
      background-color: $def-color;
    }

    &__title{
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      color: $def-color;
      line-height: 30px;
      padding-left: 70px;
      padding-right: 15px;
      padding-bottom: 10px;
    }

    &__desc{

      padding-left: 70px;
      
      p{
        padding-right: 15px;
        font-size: 16px;
        color: #242424;
        font-family: 'Open Sans', sans-serif;
        line-height: 25px;
        margin-bottom: 18px;
      }
      
      a{
        font-size: 16px;
        color: $def-color;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        justify-content: flex-end;
        text-decoration: underline;
        padding-bottom: 30px;
      }
      
    }
  }
}

.sale{

  &-wrapper{
    background: url('./files/imgs/engine.jpg') 50% 100%;
    padding: 20px 10px 30px;
  }

  &__desc{

    background-color: rgba($def-color, .75);
    padding: 30px 10px;
    margin-bottom: 30px;

    &-title{
      color: white;
      font-size: 24px;
      margin-bottom: 27px;
    }

    &-text{
      color: white;
      font-size: 16px;
      line-height: 25px;
    }
  }

  img{
    padding: 0;
    height: 100%;
  }
}

.catalog{

  margin-bottom: 80px;

  &-slider{

    .slick-slide{
      position: relative;
      padding: 0 12px;
    }

    .slick-list{
      margin: 0 -12px;
      padding-bottom: 12px;
    }

    img{
      width: 100%;
      border: 1px solid $def-color;
    }

    .img-shadow{
      width: calc(100% - 22px);
      height: 100%;
      position: absolute;
      top: 0;
      background: rgba(170, 173, 204, 0.8);
      z-index: -1;
      transform: translate3d(-11px, 11px, 0);
    }

    margin-bottom: 110px!important;

    .slick-prev, .slick-next{
      width: 54px;
      height: 54px;
      background: url('./files/imgs/arrow.svg');
      background-size: cover;
      left: 10px;
      z-index: 1;
      opacity: .75;
      transition: .5s;

      &:hover{
        opacity: 1;
      }

      &::before{
        display: none;
      }
    }

    .slick-prev{
      transform: scaleX(-1) translateY(-50%);
    }

    .slick-next{
      right: 10px;
      left: auto;
    }

    .slick-dots{

      bottom: -45px;

      li{
        margin: 0;
        width: 19px;

        button{
          &::before{
            font-size: 47px;
            opacity: 1;
            color: $def-color;
            line-height: 18px;
          }
        }

        &.slick-active{
          width: 18px;
          height: 18px;
          //background-color: $def-color;
          border-radius: 50%;

          margin-top: 0px;
          padding-top: 0px;
          padding-bottom: 0px;
          top: 2px;
          background-color: #ffffff;
          border: 2px solid #2a3180;

          button{
            &::before{
              //color: white;
              //font-size: 52px;
              display: none;
            }
          }
        }
      }
    }

  }

}